.filter-table {
  position: fixed;
  top: 63px;
  right: 7px;
  height: calc(100vh - 165px);
  width: 285px;
  background-color: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.1490196078),
    0px 0px 1px rgba(9, 30, 66, 0.3098039216),
    0px 8px 12px rgba(9, 30, 66, 0.1490196078),
    0px 0px 1px rgba(9, 30, 66, 0.3098039216);
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  z-index: 5001;
  .Table_addmember__top {
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 15px;
  }
  .text {
    font-size: 14px;
    font-weight: 550;
    margin-top: 10px;
  }
  .member {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .wrap_img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: green;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 550;
      margin-right: 5px;
    }
    input {
      margin-right: 10px;
      min-width: 15px;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
  }
  .Tag_color {
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-radius: 3px;
    .type_check {
      margin-right: 10px;
      min-width: 15px;
      aspect-ratio: 1/1;
      cursor: pointer;
      margin-left: 5px;
    }
    .color_content1 {
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-left: 0px;
      padding-bottom: 2.5px;
      color: white;
      position: relative;
      padding-top: 2.5px;
      max-width: calc(100% - 30px);
      flex: 1 1;
      .color_content {
        box-sizing: border-box;
        width: 97%;
        height: 32px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-left: 10px;
        padding-bottom: 5px;
        color: white;
        position: relative;
      }
    }
  }
  .filer_date {
    display: flex;
    align-items: center;
    margin: 10px 0;
    input {
      margin-right: 10px;
      min-width: 15px;
      aspect-ratio: 1/1;
      cursor: pointer;
      margin-left: 5px;
    }
    .filter-date-i {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: tomato;
      color: white;
    }
    .filer-date_text {
      margin-left: 10px;
    }
  }
}
