$primary-color: white;
$font-color: #44546f;


$font-sizes: (
  small: 12px,
  medium: 16px,
  large: 20px,
  x-large: 24px,
);

@mixin font-size($size) {
  font-size: map-get($font-sizes, $size);
}

body {
  background-color: $primary-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  @include font-size(x-large);
}

h2 {
  @include font-size(large);
}

h3 {
  @include font-size(medium);
}

h4 {
  @include font-size(small);
}

p {
  @include font-size(small);
}
.sun{
  width: 50px;
  height: 50px;
  background-color: tomato;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.drop{
  width: 100%;
  height: 300px;
  border: 2px solid black;
}

