@charset "UTF-8";
* {
  text-decoration: none;
}

body {
  background-color: white;
  color: #44546f;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 12px;
}

.sun {
  width: 50px;
  height: 50px;
  background-color: tomato;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.drop {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}

.header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid hsla(199, 47%, 23%, 0.58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: hsl(198, 39.4%, 33%);
}
.header ::-moz-placeholder {
  color: white; /* Màu chữ mong muốn */
}
.header ::placeholder {
  color: white; /* Màu chữ mong muốn */
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
.header__left a {
  width: 100px;
  height: 22px;
}
.header__left .logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.header__left .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left .navigation .nearly:hover {
  background-color: rgba(111, 140, 161, 0.5764705882);
}
.header__left .navigation .voted:hover {
  background-color: rgba(111, 140, 161, 0.5764705882);
}
.header__left .navigation .mgl {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 9px;
  border-radius: 3px;
}
.header__left .navigation .mgl .fa-chevron-down {
  margin-left: 5px;
  margin-top: 2px;
}
.header__left .navigation .btn-new {
  color: white;
  padding: 6px 9px;
  border-radius: 3px;
  background-color: #0c66e4;
}
.header__left .navigation .btn-new:hover {
  cursor: pointer;
  background-color: #075dd5;
  background-size: cover;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right .warap__input {
  height: 35px;
  width: 100%;
  position: relative;
}
.header__right .warap__input input {
  width: 100%;
  height: 100%;
  padding: 1px 12px 0px 30px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 10px;
  border: 1.2px solid #dbdde2;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.header__right .warap__input i {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: small;
}
.header__right .fa-circle-user {
  font-size: xx-large;
  margin: 0 20px;
  margin-top: -1px;
}

.imguser {
  font-size: 20px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

#imguser {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
}

.header__table {
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 304px;
  will-change: top, left;
  top: 62px;
  left: 430px;
  color: #44546f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: white;
  border-radius: 3px;
  box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08));
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}
.header__table .table__top {
  width: 95%;
  height: 40px;
  margin: 0 2.5%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.429);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__table .table__top .text__tb {
  font-size: medium;
}
.header__table .table__top i {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: large;
}
.header__table .table__fontimg {
  width: 200px;
  height: 130px;
  background: none;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: var(--ds-shadow-raised, 0 7px 15px rgba(0, 0, 0, 0.15));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.header__table .table__fontimg img {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.header__table .background__font {
  width: 90%;
  color: #44546f;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 12px;
}
.header__table .background__font .text {
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: -2px;
}
.header__table .background__font .list__font {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
}
.header__table .background__font .list__font div {
  position: relative;
  width: 25%;
  height: 45px;
  border-radius: 5px;
  margin: 0 1%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header__table .background__font .list__font div .fa-check {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.header__table .background__font .list__font div .fa-check.cr {
  display: block;
}
.header__table .background__font .list__font div span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.header__table .background__font .list__font div span:hover {
  background-color: rgba(65, 60, 60, 0.228);
}
.header__table .topic__table {
  width: 90%;
  color: #44546f;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 12px;
}
.header__table .topic__table .text {
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: -2px;
}
.header__table .topic__table input {
  border: none;
  box-sizing: border-box;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  border-radius: 3px;
  padding: 8px 12px;
  border: 2px solid tomato;
  background-color: white;
  width: 100%;
  margin-bottom: 0;
  outline-color: #5b8bff;
  padding-left: 10px;
}
.header__table .btn__newcreate {
  color: white;
  padding: 8px 9px;
  border-radius: 3px;
  background-color: #0c66e4;
  width: 85%;
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.header__table .btn__newcreate:hover {
  background-color: #2f56cd;
}
.header__table .btn__newcreate.white {
  background-color: rgba(211, 211, 211, 0.541);
  cursor: not-allowed;
}

.header__table.home1 {
  top: 61px;
  left: 430px;
}

.header__table.hide {
  display: none;
}

.menu__user {
  z-index: 9999;
  background-color: white;
  color: black;
  width: 280px;
  position: absolute;
  right: 5px;
  top: 55px;
  border-radius: 5px;
  box-shadow: -3px 0px 5px rgba(10, 39, 90, 0.251), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
}
.menu__user .account {
  margin-left: 13px;
  font-size: 19px;
  padding: 10px 0;
  font-weight: 600;
}
.menu__user .wrap__user {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5607843137);
  padding: 10px 0;
}
.menu__user .wrap__user .wrap__img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__user .wrap__user .wrap__img div {
  margin: 0;
  color: white;
}
.menu__user .wrap__user .wrap__img img {
  width: 100%;
  height: 100%;
}
.menu__user .wrap__user .wrap__img .name {
  font-size: 19px;
}
.menu__user .btn {
  margin: 5px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}
.menu__user .btn:hover {
  background-color: rgba(211, 211, 211, 0.525);
}

.menu__user.hide {
  display: none;
}

.btn__dkdn {
  display: flex;
  cursor: pointer;
}
.btn__dkdn .btn__dn {
  padding: 10px 15px;
  background-color: #0065ff;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
}
.btn__dkdn .btn__dn:hover {
  background-color: #1b68dc;
}/*# sourceMappingURL=header.css.map */