.Tag_color {
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-radius: 3px;
  .type_check {
    margin-right: 10px;
    min-width: 15px;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
  .color_content1 {
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 2.5px;
    color: white;
    position: relative;
    padding-top: 2.5px;
    .color_content {
      box-sizing: border-box;
      width: 198px;
      height: 32px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-left: 10px;
      padding-bottom: 5px;
      color: white;
      position: relative;
    }

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    input {
      position: absolute;
      top: 0;
      left: 10px;
      width: calc(100% - 21px);
      height: calc(100% - 7px);
      border-radius: 5px;
      outline: none;
      border: 2.5px solid #388bff;
      padding-left: 7px;
    }
  }
  .color_content:hover {
    filter: saturate(85%) brightness(85%);
    cursor: pointer;
  }
  i {
    margin-left: 5px;
    padding: 10px;
    margin-right: 0 !important;
    border-radius: 3px;
  }
  i:hover {
    background-color: rgba(211, 211, 211, 0.541);
    cursor: pointer;
  }
}
