.task-todo {
  user-select: none;
  width: calc(100% - 15px);
  min-height: 30px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1px;
  background-color: white;
  padding: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  z-index: 555;
  padding-left: 10px;

  span {
    width: 200px;

    overflow-wrap: break-word;
    word-break: break-all;
  }
}
.task-todo:hover {
  background-color: #f1f2f4;
}
.task-todo.moune {
  background-color: lightgreen;
  z-index: 555;
}
