.task-todo {
  user-select: none;
  width: calc(100% - 15px);
  height: auto;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 1px #1767f040, 0px 0px 1px #091e424f;
  z-index: 555;
  padding-left: 10px;
  position: relative;
  word-wrap: break-word;

  .text__area.hide {
   display: none;
  }
}
  .wrap__fa-pen-to-square {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 5px 0;
    textarea {
      position: absolute;
      left: 0px;
      top: 0px;
      width: calc(100% - 15px);
      border: 2.5px solid #388bff;
      height: calc(100% - 10px);
      outline: none;
      background-color: white;
      font-size: 19px;
      border-radius: 6px;
      resize: none;
      padding: 5px;
      padding-left: 10px;
      z-index: 1000000000;
    }
    .update-content {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
      padding:  10px;
      border-radius: 5px;
    }
    .task-text{

      width: 100%;
    }
    .task-bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
      .task-date{
        display: flex;
        align-items: center;
        .input-check{
          position: relative;
          z-index: 3;
        }
        .fa-align-right{
          rotate: 180deg;
        }
      }
      .task-member{
        display: flex;
        align-items: center;
        .wrap-img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: 500;
        }
        .wrap-img + .wrap-img{
          margin-left: 3px;
        }
      }
    }

  }
.task-todo:hover {
  background-color: #f1f2f4;
}
.task-todo:hover .wrap__fa-pen-to-square .update-content {
  display: block;
  color: rgba(128, 128, 128, 0.63);
}
.task-todo .wrap__fa-pen-to-square .update-content:hover {
  background-color: #c6c9cf69;
  color: gray;
  z-index: 2;
}
.task-todo.moune {
  background-color: lightgreen;
  z-index: 555;
}
