body {
  overflow-y: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.todos {
  width: calc(100% - 260px);
  height: calc(100vh - 59px);
  border-bottom: 8px solid transparent;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.2s ease;
}

.todos.fullscreen {
  width: calc(100% - 11px);
}

#wrap__tb__share {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7490196078);
  z-index: 99;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 41px;
  padding: 0 11px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border: 2px solid lightgray;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tb__share {
  z-index: 100;
  width: 570px;
  height: -moz-max-content;
  height: max-content;
  background: transparent;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 25px;
}
.tb__share .tb__share_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tb__share .tb__share_top div {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tb__share .tb__share_top i {
  font-size: 23px;
  cursor: pointer;
}
.tb__share .tb__share_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  margin-top: 15px;
}
.tb__share .tb__share_middle .ant-select-selection-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tb__share .tb__share_middle .input {
  flex: 1;
  height: 110%;
  position: relative;
}
.tb__share .tb__share_middle .input input {
  border: 2px solid lightgray;
  outline: none;
  padding-left: 15px;
  width: calc(100% - 19px);
  height: calc(100% - 4px);
  border-radius: 5px;
}
.tb__share .tb__share_middle .input .value_search {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 110%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.1490196078), 0px 0px 1px rgba(9, 30, 66, 0.3098039216), 0 8px 12px rgba(9, 30, 66, 0.1490196078), 0 0 1px rgba(9, 30, 66, 0.3098039216);
}
.tb__share .tb__share_middle .input .value_search .wrap_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
}
.tb__share .tb__share_middle .input .value_search .wrap_img img {
  width: 100%;
  height: 100%;
}
.tb__share .tb__share_middle .input .value_search .wrap_img div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 550;
}
.tb__share .tb__share_middle .input .value_search .value_search_info {
  margin-left: 10px;
}
.tb__share .tb__share_middle .input .value_search:hover {
  cursor: pointer;
  background-color: #dcdfe4;
}
.tb__share .tb__share_middle input:focus {
  border: 2px solid #388bff;
}
.tb__share .tb__share_middle .btn_share {
  height: 100%;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: #0c66e4;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tb__share .tb__share_bottom {
  display: flex;
  flex-direction: column;
}
.tb__share .tb__share_bottom .sun__share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.tb__share .tb__share_bottom .sun__share .img__name {
  display: flex;
  align-items: center;
}
.tb__share .tb__share_bottom .sun__share .img__name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.tb__share .tb__share_bottom .sun__share .img__name .name {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 550;
}

.member__inTable {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select-single.ant-select-show-arrow .ant-select-selection-item,
:where(.css-dev-only-do-not-override-14wwjjs).ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  -webkit-padding-end: 18px;
          padding-inline-end: 18px;
  display: flex;
  align-items: center;
}

.todo-slideBar {
  position: fixed;
  width: calc(100% - 260px);
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2392156863);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  justify-content: space-between;
  z-index: 1;
  transition: all 0.2s ease;
  z-index: 2;
  color: white;
}
.todo-slideBar img {
  width: 15px;
}

.todo-slideBar.fullscreen {
  width: calc(100% - 11px);
  transition: all 0.2s ease;
}

.todo-slideBar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-slideBar__left .fa-circle-chevron-left {
  rotate: 180deg;
  font-size: 29px;
  margin-left: -10px;
  color: #335368;
  display: none;
}
.todo-slideBar__left .fa-circle-chevron-left.hien {
  display: block;
  cursor: pointer;
}
.todo-slideBar__left .fa-circle-chevron-left.hien:hover {
  color: rgba(51, 83, 104, 0.537254902);
}
.todo-slideBar__left .todo-slideBar__name {
  font-weight: 700;
  font-size: large;
  margin-left: 20px;
  margin-right: 10px;
  min-width: 50px;
  text-align: center;
  max-width: 200px;
  overflow: hidden;
}
.todo-slideBar__left .todo-slideBar__table {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.todo-slideBar__left .todo-slideBar__table i {
  margin: 0 5px;
}
.todo-slideBar__left .todo-slideBar__table:hover {
  background-color: #9facb1;
}
.todo-slideBar__left .todo-slideBar__table.curent {
  background-color: white;
  color: black;
}

.todo-slideBar__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 30px);
}
.todo-slideBar__right span {
  display: block;
  width: 1px;
  height: 100%;
  background-color: gray;
  margin-right: 10px;
}
.todo-slideBar__right .todo-slideBar__filer {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.todo-slideBar__right .todo-slideBar__filer .fa-arrow-down-short-wide {
  margin: 0 5px;
}
.todo-slideBar__right .todo-slideBar__filer .fa-xmark {
  margin-left: 15px;
  margin-bottom: -2px;
}
.todo-slideBar__right .todo-slideBar__filer .fa-xmark.hide {
  display: none;
}
.todo-slideBar__right .todo-slideBar__filer .iloc {
  display: flex;
  align-items: center;
  position: relative;
}
.todo-slideBar__right .todo-slideBar__filer .iloc.hide::after {
  content: attr(data-filter);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  background-color: tomato;
  top: -13px;
  left: -17px;
  line-height: 1;
  font-weight: 600;
  color: white;
}
.todo-slideBar__right .todo-slideBar__filer:hover {
  background-color: #9facb1;
}
.todo-slideBar__right .todo-slideBar__filer.curent {
  background-color: white;
  color: black;
}

.list-column {
  flex: 8;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 15px;
  margin-left: 10px;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  flex-wrap: nowrap;
  min-height: -moz-max-content;
  min-height: max-content;
  z-index: 2;
  margin-top: 70px;
}

::-webkit-scrollbar {
  padding: 0 10px;
  height: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 0 10px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 0 10px;
  background: rgba(131, 134, 130, 0.8156862745);
  border-radius: 5px;
}

.list__member {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.list__member .member {
  width: 35px;
  height: 35px;
  margin-left: -2px;
}
.list__member .member .pictureuser {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.list__member .member .icon__arrow-up {
  position: absolute;
  width: 10px;
  bottom: -1px;
  right: 0;
}
.list__member .member .wrapnt {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__member .member .wrapnt1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.list__member .member:first-child {
  margin: 0;
}

.btn__share {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-right: 10px;
}
.btn__share img {
  margin-right: 3px;
  margin-bottom: -1px;
}

.todo_chart {
  width: calc(100% - 52px);
  height: calc(100vh - 182px);
  margin-top: 70px;
  background-color: #f1f2f4;
  margin-left: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
}
.todo_chart div {
  width: calc(50% - 60px);
  box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216), 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
  margin: 0px 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  height: 60%;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}
.todo_chart div h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.todo_chart div canvas {
  width: 100% !important;
  height: calc(100% - 50px) !important;
}
.todo_chart div span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 0;
}

.tb__share.task {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 15px 30px;
}
.tb__share.task .wrap_left_right {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.tb__task_left {
  width: 78%;
}
.tb__task_left .text {
  font-size: 12px;
  font-weight: 700;
}
.tb__task_left .thanh__fasolid {
  display: flex;
  flex-direction: column;
}
.tb__task_left .thanh__fasolid .add_member {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-top: 6px;
}
.tb__task_left .thanh__fasolid .add_member .wrap_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
}
.tb__task_left .thanh__fasolid .add_member .wrap_img + .wrap_img {
  margin-left: 3px;
}
.tb__task_left .thanh__fasolid .add_member .wrap_icon_plus {
  padding: 7.5px 11px;
  background-color: rgba(228, 230, 234, 0.6862745098);
  border-radius: 50%;
  margin-left: 3px;
}
.tb__task_left .thanh__fasolid .add_member .wrap_icon_plus:hover {
  background-color: #cdd3e2;
  cursor: pointer;
}
.tb__task_left .tag_task {
  display: flex;
  flex-direction: column;
}
.tb__task_left .tag_task .list_tag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 11px;
  margin-bottom: 15px;
}
.tb__task_left .tag_task .list_tag .tag {
  height: 35px;
  min-width: 50px;
  background-color: tomato;
  border-radius: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  color: white;
}
.tb__task_left .tag_task .list_tag .tag div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tb__task_left .tag_task .list_tag .wrap_icon_plus {
  padding: 7.5px 11px;
  background-color: rgba(228, 230, 234, 0.6862745098);
  border-radius: 3px;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 5px;
}
.tb__task_left .tag_task .list_tag .wrap_icon_plus:hover {
  background-color: #cdd3e2;
  cursor: pointer;
}

.tb_task_right {
  position: relative;
  flex: 1;
}
.tb_task_right .tb_task_right__top {
  font-size: 14px;
  font-weight: 550;
}
.tb_task_right .btn_add {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background: rgba(228, 230, 234, 0.5803921569);
  width: 143px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}
.tb_task_right .btn_add i {
  font-size: 13px;
  margin-right: 10px;
}
.tb_task_right .btn_add:hover {
  background-color: #cdd3e2;
}
.tb_task_right .fsftc {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: lightgray;
  transition: all 0.3s linear;
}
.tb_task_right .fsftc:hover {
  background-color: tomato;
  color: white;
}
.tb_task_right .fsftc:hover i {
  scale: 1.2;
}
.tb_task_right .tb_delete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(23, 103, 240, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
  background-color: white;
  width: 300px;
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: lightcyan;
}
.tb_task_right .tb_delete .wrap_btn {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: -20px;
}
.tb_task_right .tb_delete .wrap_btn button {
  border: none;
  padding: 10px 15px;
  color: white;
  min-width: 86px;
  border-radius: 5px;
  cursor: pointer;
}
.tb_task_right .tb_delete .wrap_btn .out {
  background-color: tomato;
}
.tb_task_right .tb_delete .wrap_btn .comform {
  background-color: #1f845a;
}

.wrap_tb_delete {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7490196078);
}

.date_line {
  display: flex;
  flex-direction: column;
}
.date_line .wrap_input_date {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.date_line .wrap_input_date input {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.date_line .wrap_input_date .status_date {
  margin-left: 10px;
  background: #1f845a;
  font-size: 14px;
  padding: 2px 5px;
  padding-bottom: 3px;
  border-radius: 4px;
  color: white;
}
.date_line .wrap_input_date .status_date.late {
  background: #ca3521;
}

.discription {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.discription .dcrt {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  word-break: break-all;
  cursor: pointer;
  position: relative;
}
.discription .dcrt textarea {
  width: 96%;
  height: 90px;
  background-color: white;
  border: 2px solid gray;
}
.discription .dcrt div {
  padding-bottom: 10px;
  margin-left: 10px;
}
.discription .text {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
}
.discription .discription_input {
  width: calc(100% - 28px);
  height: 90px;
  border: 2.5px solid white;
  outline: none;
  background-color: rgba(9, 30, 66, 0.0588235294);
  font-size: 13px;
  border-radius: 6px;
  resize: none;
  padding: 5px;
  padding-left: 10px;
  padding-top: 10px;
}
.discription .discription_input:focus {
  border: 2.5px solid #388bff;
  background-color: white;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-picker {
  border-color: lightgray;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
  width: 182px !important;
  height: 36px !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-picker:focus {
  border-color: #4096ff;
}

@media only screen and (max-width: 1500px) {
  .todo_chart {
    width: calc(100% - 52px);
    height: calc(100vh - 182px);
    margin-top: 70px;
    background-color: #f1f2f4;
    margin-left: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    flex-direction: column;
  }
  .todo_chart div {
    width: 95%;
    min-height: 100%;
    box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216), 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.3098039216);
    margin: 15px 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  .todo_chart div h3 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=todo.css.map */