body {
  overflow-y: hidden;
}

.todos {
  width: calc(100% - 260px);
  height: calc(100vh - 59px);
  border-bottom: 8px solid transparent;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.2s ease;
}

.todos.fullscreen {
  width: calc(100% - 11px);
  // overflow: inherit;
}

#wrap__tb__share {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000bf;
  z-index: 99;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  width: 100%;
  height: 41px;
  padding: 0 11px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border: 2px solid lightgray;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tb__share {
  z-index: 100;
  width: 570px;
  height: max-content;
  background: transparent;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 25px;

  .tb__share_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      font-size: 22px;
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    i {
      font-size: 23px;
      cursor: pointer;
    }
  }

  .tb__share_middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    margin-top: 15px;

    .ant-select-selection-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input {
      flex: 1;
      height: 110%;
      position: relative;
      input {
        border: 2px solid lightgray;
        outline: none;
        padding-left: 15px;
        width: calc(100% - 19px);
        height: calc(100% - 4px);
        border-radius: 5px;
      }
      .value_search {
        position: absolute;
        width: calc(100%);
        height: 150%;
        top: 110%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f,
          0 8px 12px #091e4226, 0 0 1px #091e424f;

        .wrap_img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          overflow: hidden;
          margin-left: 15px;
          img {
            width: 100%;
            height: 100%;
          }
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            font-weight: 550;
          }
        }
        .value_search_info {
          margin-left: 10px;
        }
      }
      .value_search:hover {
        cursor: pointer;
        background-color: #dcdfe4;
      }
    }

    input:focus {
      border: 2px solid #388bff;
    }

    .btn_share {
      height: 100%;
      padding: 0px 10px;
      border-radius: 5px;
      background-color: #0c66e4;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tb__share_bottom {
    display: flex;
    flex-direction: column;

    .sun__share {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .img__name {
        display: flex;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
        }
        .name {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: 550;
        }
      }
    }
  }
}
.member__inTable {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}

:where(
    .css-dev-only-do-not-override-14wwjjs
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-14wwjjs
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  padding-inline-end: 18px;
  display: flex;
  align-items: center;
}

.todo-slideBar {
  position: fixed;
  width: calc(100% - 260px);
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0000003d;
  backdrop-filter: blur(4px);
  justify-content: space-between;
  z-index: 1;
  transition: all 0.2s ease;
  z-index: 2;

  img {
    width: 15px;
  }

  color: white;
}

.todo-slideBar.fullscreen {
  width: calc(100% - 11px);
  transition: all 0.2s ease;
}

.todo-slideBar__left {
  .fa-circle-chevron-left {
    rotate: 180deg;
    font-size: 29px;
    margin-left: -10px;
    color: #335368;
    display: none;
  }

  .fa-circle-chevron-left.hien {
    display: block;
    cursor: pointer;
  }

  .fa-circle-chevron-left.hien:hover {
    color: #33536889;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  .todo-slideBar__name {
    font-weight: 700;
    font-size: large;
    margin-left: 20px;
    margin-right: 10px;
    min-width: 50px;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
  }

  .todo-slideBar__table {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;

    i {
      margin: 0 5px;
    }
  }

  .todo-slideBar__table:hover {
    background-color: #9facb1;
  }

  .todo-slideBar__table.curent {
    background-color: white;
    color: black;
  }
}

.todo-slideBar__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 30px);

  span {
    display: block;
    width: 1px;
    height: 100%;
    background-color: gray;
    margin-right: 10px;
  }

  .todo-slideBar__filer {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
    i {
      margin: 0 5px;
    }
  }

  .todo-slideBar__filer:hover {
    background-color: #9facb1;
  }
}

.list-column {
  flex: 8;
  user-select: none;
  margin-top: 15px;
  margin-left: 10px;
  min-width: max-content;
  display: flex;
  flex-wrap: nowrap;
  min-height: max-content;
  z-index: 2;
  margin-top: 70px;
}

::-webkit-scrollbar {
  padding: 0 10px;
  height: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 0 10px;

  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 0 10px;

  background: #838682d0;
  border-radius: 5px;
}

.list__member {
  display: flex;
  align-items: center;
  margin-right: 5px;

  .member {
    width: 35px;
    height: 35px;
    margin-left: -2px;

    .pictureuser {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }

    .icon__arrow-up {
      position: absolute;
      width: 10px;
      bottom: -1px;
      right: 0;
    }

    .wrapnt {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wrapnt1 {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .member:first-child {
    margin: 0;
  }
}

.btn__share {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 7px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-right: 10px;

  img {
    margin-right: 3px;
    margin-bottom: -1px;
  }
}
.todo_chart {
  width: calc(100% - 52px);
  height: calc(100vh - 182px);
  margin-top: 70px;
  background-color: #f1f2f4;
  margin-left: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
  div {
    width: calc(50% - 60px);
    box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f,
      0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
    margin: 0px 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    height: 60%;
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 15px;
    h3{
      margin-top: 10px;
      margin-bottom: 10px;margin-left: 10px;
    }
    canvas{
      width: 100% !important;
      height: calc(100% - 50px) !important;
    }
  }
}

.tb__share.task {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 15px 30px;

  .wrap_left_right {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
}
.tb__task_left {
  width: 78%;
  .text {
    font-size: 12px;
    font-weight: 700;
  }
  .thanh__fasolid {
    display: flex;
    flex-direction: column;
    .add_member {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 15px;
      margin-top: 6px;
      .wrap_img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: green;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 550;
      }

      .wrap_img + .wrap_img {
        margin-left: 3px;
      }
      .wrap_icon_plus {
        padding: 7.5px 11px;
        background-color: #e4e6eaaf;
        border-radius: 50%;
        margin-left: 3px;
      }
      .wrap_icon_plus:hover {
        background-color: #cdd3e2;
        cursor: pointer;
      }
    }
  }
  .tag_task {
    display: flex;
    flex-direction: column;
    .list_tag {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 11px;
      margin-bottom: 15px;
      .tag {
        height: 35px;
        min-width: 50px;
        background-color: tomato;
        border-radius: 5px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-bottom: 5px;

        div{
          width: 100%;        
          white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
      }
      .wrap_icon_plus {
        padding: 7.5px 11px;
        background-color: #e4e6eaaf;
        border-radius: 3px;
        margin-left: 3px;
        font-size: 14px;
        font-weight: 550;
      }
      .wrap_icon_plus:hover {
        background-color: #cdd3e2;
        cursor: pointer;
      }
    }
  }
}
.tb_task_right {
  flex: 1;
  .tb_task_right__top {
    font-size: 14px;
    font-weight: 550;
  }
  .btn_add {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    background: #e4e6ea94;
    width: 143px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    i {
      font-size: 13px;
      margin-right: 10px;
    }
  }
  .btn_add:hover {
    background-color: #cdd3e2;
  }
}
.date_line {
  display: flex;
  flex-direction: column;
  .wrap_input_date {
    display: flex;
    align-items: center;
    margin-top: 10px;
    input {
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin-right: 10px;
    }
    .status_date{
      margin-left: 10px;
      background: #1f845a;
      font-size: 14px;
      padding: 2px 5px;
      padding-bottom: 3px;
      border-radius: 4px;
      color: white;
    }
    .status_date.late{
      background: #ca3521;
    }
  }
}
.discription {

  .text {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .discription_input{
    width: calc(100% - 15px);
    border: 2.5px solid white;
    height: 60px;
    outline: none;
    background-color: #091e420f;
    font-size: 13px;
    border-radius: 6px;
    resize: none;
    padding: 5px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .discription_input:focus{
    border: 2.5px solid #388bff;
    background-color: white;

  }

}
:where(.css-dev-only-do-not-override-14wwjjs).ant-picker {
  border-color: lightgray;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
  width: 176px !important;
  height: 36px !important;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-picker:focus {
  border-color: #4096ff;

}
@media only screen and (max-width: 1500px) {
  .todo_chart {
    width: calc(100% - 52px);
    height: calc(100vh - 182px);
    margin-top: 70px;
    background-color: #f1f2f4;
    margin-left: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    flex-direction: column;
    div{
      h3{
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      width: 95%;
      min-height: 100%;
      box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216), 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
      margin: 15px 10px;
      border-radius: 10px;
      overflow: hidden;
    }
}
}